<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312951539697-7tmj4l83kp1af45aa542vodmk2b9obul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312951539697-7tmj4l83kp1af45aa542vodmk2b9obul</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>312951539697-dftf83s48qqog5m76rkgi03qi07npsdj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBNHnlW603YUj2zP0BsRj2cVE0HQeuvuIU</string>
	<key>GCM_SENDER_ID</key>
	<string>312951539697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newProject</string>
	<key>PROJECT_ID</key>
	<string>newproject-7a4d2</string>
	<key>STORAGE_BUCKET</key>
	<string>newproject-7a4d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312951539697:ios:5ebfd46915a5bba5cae650</string>
</dict>
</plist>